@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/*#region*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*#endregion*/

:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%;);
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background-color: #e6eff6;
  display: flex;
  align-items: center; /*+display:flex;で上下の中央寄せ、*/
  flex-direction: column;
  justify-content: center; /*+display:flex;で*左右の中央寄せ、*/
  height: 100vh; /*bodyの高さを広げるため*/
}

.container {
  width: 35vw;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 5px rgb(215, 218, 239);
}

.top {
  background-color: white;
  border-radius: 10px 10px 0 0;
}

#top-title {
  color: var(--Cyan);
}

#top-subtitle {
  color: var(--BrightYellow);
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 12px;
}

#inside-top {
  padding: 5vh 3vw;
  display: block;
}

.paragraph {
  margin-top: 0;
  font-size: 10px;
  color: hsl(218, 22%, 67%);
  font-weight: smaller;
}

.bottom {
  display: flex;
  color: white;
}

.right {
  width: 18vw;
  background-color: #4abebd;
  padding: 3vh 2vw;
  border-radius: 0 0 10px 0px;
}

.left {
  width: 18vw;
  background-color: #2bb3b1;
  padding: 3vh 2vw;
  border-radius: 0 0 0px 10px;
}

.bottom-title {
  font-size: 12px;
  font-weight: 200;
}

.bottom-subtitle-first {
  font-size: 8px;
  color: #c7ffff;
  font-weight: 400;
}

.price {
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-top: 1.5vh;
}

.SignUpBotton {
  background-color: #bfdf32;
  text-align: center;
  width: 12vw;
  height: 5vh;
  border-radius: 3px;
  font-size: 8px;
  font-weight: bold;
  color: #fcffbd;
  margin-top: 4vh;
  box-shadow: 0px 2px 5px #868686cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.bottom-subtitle-second {
  font-size: 8px;
  color: #c7ffff;
  display: block;
  margin-top: 1.5vh;
  width: 12vw;
  line-height: 3vh;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 80vh;
  }

  .paragraph {
    line-height: 3vh;
    font-size: 10px;
    margin-bottom: 0;
  }

  #inside-top {
    padding: 3vh 3vw;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 41vw;
    border-radius: 0;
  }

  .right {
    width: 41vw;
    height: 22vh;
    border-radius: 0 0 10px 10px;

  }

  .bottom-title {
    font-size: 15px;
    display: block;
  }

  .price {
    font-size: 22px;
    margin-bottom: 2vh;
  }

  .SignUpBotton {
    font-size: 12px;
    width: 37vw;
    height: 4.5vh;
    margin-top: 2vh;
  }

  .bottom-subtitle-first {
    font-size: 12px;
  }
  .bottom-top {
    margin-left: 2vw;
  }

  .bottom-subtitle-second {
    font-size: 8px;
    display: inline;
  }
}
